/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.Forgetpass-body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(66, 66, 66); */
  background-image: url('6.png');
  padding: 30px;
}
.Forgetpass-container{
  position: relative;
  max-width: 850px;
  width: 100%;
  /* background: #fff; */
  background-color: #ECE3CE;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  margin-top: 150px;
}

.Forgetpass-container .Forgetpass-forms{
  height: 100%;
  width: 100%;
  background: #ECE3CE;
}
.Forgetpass-container .Forgetpass-form-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Forgetpass-form-content .pass-login-form{
  width: calc(100% - 25px);
}

.Forgetpass-forms .Forgetpass-form-content .pass-input-boxes{
  margin-top: 30px;
}
.Forgetpass-forms .Forgetpass-form-content .pass-input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
  justify-content: center;
  /* background-color: brown; */
}
.Forgetpass-form-content .pass-input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  background-color: #ECE3CE;
  /* background-color: blue; */
}
.Forgetpass-form-content .pass-input-box input:focus,
.Forgetpass-form-content .pass-input-box input:valid{
  border-color: rgb(66, 66, 66);
}
.Forgetpass-form-content .pass-input-box i{
  position: relative;
  color: rgb(66, 66, 66);
  font-size: 17px;
  padding-left: 10px;
}
.Forgetpass-forms .Forgetpass-form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.Forgetpass-forms .Forgetpass-form-content .text a{
  text-decoration: none;
}
.Forgetpass-forms .Forgetpass-form-content .button{
  color: #fff;
  margin-top: 40px;
}
.Forgetpass-forms .Forgetpass-form-content .button input{
  color: #fff;
  background: #5F6F65;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.Forgetpass-forms .Forgetpass-form-content .button input:hover{
  background: rgb(0,0,0);
}

/* 
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
} */
